<div class="animated fadeIn">
  <div class="row" style="display: block;">
    <div class="card">
      <div class="row">
        <div class="card-body" style="display: flex;">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="create()"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              Create
            </button>
          </div>
          <div class="col-sm-6">
            <Label for="search">Search</Label>
            <input type="text" id="input-normal" name="search" class="form-control" (input)="search($event.target.value)">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6"> -->
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Danh Sách Công Ty
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="th-class">ID</th>
              <th class="th-class">Tên</th>
              <th class="th-class">Mã thuế</th>
              <th class="th-class">Vốn điều lệ</th>
              <th class="th-class">Lĩnh vực</th>
              <th class="th-class">Địa chỉ</th>
              <th class="th-class">SĐT</th>
              <th class="th-class">Action</th>
            </tr>
          </thead>
          <tbody class="th-class">
            <tr *ngFor="let congTy of listCongTy">
              <td>{{congTy.id}}</td>
              <td>{{congTy.tenCongTy}}</td>
              <td>{{congTy.maSoThue}}</td>
              <td>{{congTy.vonDieuLe}}</td>
              <td>{{congTy.linhVuc}}</td>
              <td>{{congTy.diaChi}}</td>
              <td>{{congTy.sdt}}</td>
              <td>
                <button class="btn btn-warning" (click)="update(congTy.id)">update</button>
                <button class="btn btn-danger" (click)="handleDelete(congTy.id)">delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
