<div class="animated fadeIn">
  <div class="row" style="display: block;">
    <!-- <div class="col-sm-6"> -->
      <div class="card">
        <div class="card-header">
          <strong>Create Công Ty</strong>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="input-normal">Tên Công Ty</label>
              <div class="col-sm-6">
                <input type="text" id="input-normal" name="tenCongTy" class="form-control" [(ngModel)]="congTy.tenCongTy">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="input-normal">Mã Số thuế</label>
              <div class="col-sm-6">
                <input type="text" id="input-normal" name="maSoThue" class="form-control" [(ngModel)]="congTy.maSoThue">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="input-normal">Vốn điều lệ</label>
              <div class="col-sm-6">
                <input type="text" id="input-normal" name="vonDieuLe" class="form-control" [(ngModel)]="congTy.vonDieuLe">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="input-normal">Lĩnh vực</label>
              <div class="col-sm-6">
                <input type="text" id="input-normal" name="linhVuc" class="form-control" [(ngModel)]="congTy.linhVuc">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="input-normal">Địa chỉ</label>
              <div class="col-sm-6">
                <input type="text" id="input-normal" name="diaChi" class="form-control" [(ngModel)]="congTy.diaChi">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="input-normal">SĐT</label>
              <div class="col-sm-6">
                <input type="text" id="input-normal" name="sdt" class="form-control" [(ngModel)]="congTy.sdt">
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
              <button class="btn btn-sm btn-success" (click)="back()">Hủy</button>
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
