<div class="animated fadeIn">
  <div class="row" style="display: block">
    <div class="card">
      <div class="card-header">Danh Sách Mã</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="th-class">ID</th>
              <th class="th-class">Mã</th>
              <th class="th-class">Tên Công ty</th>
              <th class="th-class">P/E 2019</th>
              <th class="th-class">P/E 2020</th>
              <th class="th-class">P/E 2021</th>
              <th class="th-class">P/S 2019</th>
              <th class="th-class">P/S 2020</th>
              <th class="th-class">P/S 2021</th>
              <th class="th-class">EPS 2019</th>
              <th class="th-class">EPS 2020</th>
              <th class="th-class">EPS 2021</th>
              <th class="th-class">ROE 2019</th>
              <th class="th-class">ROE 2020</th>
              <th class="th-class">ROE 2021</th>
              <th class="th-class">ROA 2019</th>
              <th class="th-class">ROA 2020</th>
              <th class="th-class">ROA 2021</th>
            </tr>
          </thead>
          <tbody class="th-class">
            <tr *ngFor="let stock of listStock">
              <td>{{ stock.id }}</td>
              <td>{{ stock.mack }}</td>
              <td>{{ stock.ten_cty }}</td>
              <td>{{ stock.pe2019 }}</td>
              <td>{{ stock.pe2020 }}</td>
              <td>{{ stock.pe2021 }}</td>
              <td>{{ stock.ps2019 }}</td>
              <td>{{ stock.ps2020 }}</td>
              <td>{{ stock.ps2021 }}</td>
              <td>{{ stock.eps2019 }}</td>
              <td>{{ stock.eps2020 }}</td>
              <td>{{ stock.eps2021 }}</td>
              <td>{{ stock.roe2019 }}</td>
              <td>{{ stock.roe2020 }}</td>
              <td>{{ stock.roe2021 }}</td>
              <td>{{ stock.roa2019 }}</td>
              <td>{{ stock.roa2020 }}</td>
              <td>{{ stock.roa2021 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
