<div class="animated fadeIn">
  <div class="row" style="display: block">
    <div class="card">
      <div class="card-header">Danh Sách Mã</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="th-class">ID</th>
              <th class="th-class">Mã</th>
              <th class="th-class">Tên Công ty</th>
              <th class="th-class">P/E quy1</th>
              <th class="th-class">P/E quy2</th>
              <th class="th-class">P/E quy3</th>
              <th class="th-class">P/S quy1</th>
              <th class="th-class">P/S quy2</th>
              <th class="th-class">P/S quy3</th>
              <th class="th-class">EPS quy1</th>
              <th class="th-class">EPS quy2</th>
              <th class="th-class">EPS quy3</th>
              <th class="th-class">ROE quy1</th>
              <th class="th-class">ROE quy2</th>
              <th class="th-class">ROE quy3</th>
              <th class="th-class">ROA quy1</th>
              <th class="th-class">ROA quy2</th>
              <th class="th-class">ROA quy3</th>
            </tr>
          </thead>
          <tbody class="th-class">
            <tr *ngFor="let stock of listStock">
              <td>{{ stock.id }}</td>
              <td>{{ stock.mack }}</td>
              <td>{{ stock.tencongty }}</td>
              <td>{{ stock.pequy1 }}</td>
              <td>{{ stock.pequy2 }}</td>
              <td>{{ stock.pequy3 }}</td>
              <td>{{ stock.psquy1 }}</td>
              <td>{{ stock.psquy2 }}</td>
              <td>{{ stock.psquy3 }}</td>
              <td>{{ stock.epsquy1 }}</td>
              <td>{{ stock.epsquy2 }}</td>
              <td>{{ stock.epsquy3 }}</td>
              <td>{{ stock.roequy1 }}</td>
              <td>{{ stock.roequy2 }}</td>
              <td>{{ stock.roequy3 }}</td>
              <td>{{ stock.roaquy1 }}</td>
              <td>{{ stock.roaquy2 }}</td>
              <td>{{ stock.roaquy3 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
