<div class="animated fadeIn">
  <div class="row" style="display: block;">
    <div class="card">
      <div class="row">
        <div class="card-body" style="display: flex;">
          <div class="col-md-6">
            <button type="button" class="btn btn-danger" (click)="back()"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              Back
            </button>
          </div>
          <!-- <div class="col-sm-6">
            <Label for="search">Search</Label>
            <input type="text" id="input-normal" name="search" class="form-control" (input)="search($event.target.value)">
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6"> -->
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Bảng lương tháng {{month}}
      </div>
      <div class="card-header">
        Cập nhật ngày {{end}}
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="th-class">ID</th>
              <th class="th-class">Nhân viên</th>
              <th class="th-class">Phong ban</th>
              <th class="th-class">Toa Nha</th>

              <th class="th-class">Lương</th>
              <th class="th-class">Ghi chú</th>
            </tr>
          </thead>
          <tbody class="th-class">
            <tr>
              <td>{{luong.maNv}}</td>
              <td>{{luong.ten}}</td>
              <td>{{luong.phongBan.ten}}</td>
              <td>{{luong.phongBan.toaNha.name}}</td>
              <td>{{luong.luong}}</td>
              <td >
                <ul  *ngFor="let ghiChu of listGhiChu">
                  <li><p>{{"Ngày: " + ghiChu.ngayTao }}</p>
                    <p>{{ "Lý do: " + ghiChu.lyDo}}</p></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="firstPage()">Đầu</a></li>
          <li class="page-item"><a class="page-link" (click)="previousPage()">Trang trước</a></li>
          <li class="page-item col-md-1 col-2  px-0">
            <div class="input-group">
              <input type="number" min="1" [max]="totalPagination" class="form-control text-right rounded-0"
                     placeholder="2" aria-label="Username"
                     aria-describedby="basic-addon1" [value]="indexPagination"
                     (change)="indexPaginationChage($event.target.value)">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{totalPagination}}</span>
              </div>
            </div>
          </li>
          <li class="page-item"><a class="page-link" (click)="nextPage()">Trang kế</a></li>
          <li class="page-item"><a class="page-link" (click)="lastPage()">Cuối</a></li>
        </ul> -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
