<div class="animated fadeIn">
  <div class="row" style="display: block;">
    <div class="card">
      <div class="row">
        <div class="card-body" style="display: flex;">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="create()"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              Create
            </button>
          </div>
          <div class="col-sm-6">
            <Label for="search">Search</Label>
            <input type="text" id="input-normal" name="search" class="form-control"
              (input)="search($event.target.value)">
          </div>
        </div>
        <!-- <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" >Lọc theo vốn điều lệ</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radios" id="radio1" value="1" (change)="filter($event.target.value)">
                <label class="form-check-label" for="radio1">
                  Ít hơn 10tr
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radios" id="radio2" value="2" (change)="filter($event.target.value)">
                <label class="form-check-label" for="radio2">
                  Từ 10tr - 20tr
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radios" id="radio3" value="3" (change)="filter($event.target.value)">
                <label class="form-check-label" for="radio3">
                  Trên 20tr
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radios" id="radio3" value="4" (change)="filter($event.target.value)" checked>
                <label class="form-check-label" for="radio3">
                  Toàn bộ
                </label>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <div class="col-lg-6"> -->
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Danh Sách Nhân viên
      </div>
      <div class="card-header">
        <select (change)="filterByToaNha($event.target.value)">
          <option value="0"><i class="fas fa-filter"></i>Chi Nhánh</option>
          <option *ngFor="let toanha of listToaNha" value={{toanha.maToaNha}}>{{toanha.name}}</option>
        </select>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="th-class">ID</th>
              <th class="th-class">Tên</th>
              <th class="th-class">Ngày Sinh</th>
              <th class="th-class">Địa chỉ</th>
              <th class="th-class">SĐT</th>
              <th class="th-class">Bậc lương</th>
              <th class="th-class">Vị trí</th>
              <th class="th-class">Phòng ban</th>
              <th class="th-class">Tòa nhà</th>
              <th class="th-class">Action</th>
            </tr>
          </thead>
          <tbody class="th-class">
            <tr *ngFor="let nhanvien of listNhanVien">
              <td>{{nhanvien.maNv}}</td>
              <td>{{nhanvien.ten}}</td>
              <td>{{nhanvien.ngaySinh}}</td>
              <td>{{nhanvien.diaChi}}</td>
              <td>{{nhanvien.sdt}}</td>
              <td>{{nhanvien.bac}}</td>
              <td>{{nhanvien.luongViTri.viTri}}</td>
              <td>{{nhanvien.phongBan.ten}}</td>
              <td>{{nhanvien.phongBan.toaNha.name}}</td>
              <td>
                <button class="btn btn-warning" (click)="update(nhanvien.maNv)">update</button>
                <button class="btn btn-danger" (click)="handleDelete(nhanvien.maNv)">delete</button>
                <button class="btn btn-success" (click)="handleNote(nhanvien.maNv)">Note</button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="firstPage()">Đầu</a></li>
          <li class="page-item"><a class="page-link" (click)="previousPage()">Trang trước</a></li>
          <li class="page-item col-md-1 col-2  px-0">
            <div class="input-group">
              <input type="number" min="1" [max]="totalPagination" class="form-control text-right rounded-0"
                     placeholder="2" aria-label="Username"
                     aria-describedby="basic-addon1" [value]="indexPagination"
                     (change)="indexPaginationChage($event.target.value)">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{totalPagination}}</span>
              </div>
            </div>
          </li>
          <!-- <li class="page-item">
            <button class="btn btn-primary rounded-0" (click)="findPaginnation()">Đi</button>
          </li> -->
          <li class="page-item"><a class="page-link" (click)="nextPage()">Trang kế</a></li>
          <li class="page-item"><a class="page-link" (click)="lastPage()">Cuối</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
