<div class="animated fadeIn">
  <div class="row" style="display: block;">
    <!-- <div class="col-sm-6"> -->
    <div class="card">
      <div class="card-header">
        <strong>Create Công Ty</strong>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">CMT</label>
            <div class="col-sm-6">
              <input type="text" id="input-normal" name="tenCongTy" class="form-control" [(ngModel)]="nv.cmt">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">Tên</label>
            <div class="col-sm-6">
              <input type="text" id="input-normal" name="maSoThue" class="form-control" [(ngModel)]="nv.ten">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">SĐT</label>
            <div class="col-sm-6">
              <input type="text" id="input-normal" name="vonDieuLe" class="form-control" [(ngModel)]="nv.sdt">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">Ngày Sinh</label>
            <div class="col-sm-6">
              <input type="date" id="input-normal" name="vonDieu" class="form-control" [(ngModel)]="nv.ngaySinh">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">Công ty</label>
            <div class="col-sm-6">
              <select [(ngModel)]="nv.congTy" [ngModelOptions]="{standalone: true}">
                <option value={{nv.congTy}}>{{nv.congTy.tenCongTy}}</option>
                <option *ngFor="let ct of listCongTy" [ngValue]="ct">{{ct.tenCongTy}}</option>
              </select>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            <button class="btn btn-sm btn-success" (click)="back()">Hủy</button>
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
