<div class="animated fadeIn">
  <div class="row" style="display: block">
    <div class="card">
      <div class="card-header">Chỉ số ngành</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="th-class">ID</th>
              <th class="th-class">Tên ngành</th>
              <th class="th-class">P/E 2019</th>
              <th class="th-class">P/E 2020</th>
              <th class="th-class">P/E 2021</th>
              <th class="th-class">P/S 2019</th>
              <th class="th-class">P/S 2020</th>
              <th class="th-class">P/S 2021</th>
              <th class="th-class">EPS 2019</th>
              <th class="th-class">EPS 2020</th>
              <th class="th-class">EPS 2021</th>
              <th class="th-class">ROE 2019</th>
              <th class="th-class">ROE 2020</th>
              <th class="th-class">ROE 2021</th>
              <th class="th-class">ROA 2019</th>
              <th class="th-class">ROA 2020</th>
              <th class="th-class">ROA 2021</th>
            </tr>
          </thead>
          <tbody class="th-class">
            <tr *ngFor="let industry of listIndustry">
              <td>{{ industry.id }}</td>
              <td>{{ industry.ten_nganh }}</td>
              <td>{{ industry.pe2019 }}</td>
              <td>{{ industry.pe2020 }}</td>
              <td>{{ industry.pe2021 }}</td>
              <td>{{ industry.ps2019 }}</td>
              <td>{{ industry.ps2020 }}</td>
              <td>{{ industry.ps2021 }}</td>
              <td>{{ industry.eps2019 }}</td>
              <td>{{ industry.eps2020 }}</td>
              <td>{{ industry.eps2021 }}</td>
              <td>{{ industry.roe2019 }}</td>
              <td>{{ industry.roe2020 }}</td>
              <td>{{ industry.roe2021 }}</td>
              <td>{{ industry.roa2019 }}</td>
              <td>{{ industry.roa2020 }}</td>
              <td>{{ industry.roa2021 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
